.pokemon-list-container {
    width: 300px; /* Adjust width as needed */
  }
  
  .pokemon-list {
    list-style: none;
    padding: 0;
  }
  
  .pokemon-link {
    text-decoration: none;
    color: #333;
  }
  
  .pokemon-link:hover {
    color: #007bff; /* Change color on hover */
  }